<div id="main">
    <nav id="nav_main">
        <ul id="nav_list_top" class="list_class">
            <li class="nav_item">
                batterio
            </li>
            <li class="nav_item">
                umano
            </li>
            <li class="nav_item">
                animale
            </li>
        </ul>
    </nav>

    <div id="center_container">
        <div class="side_menu">
            <ul class="list_class nav_list_side">
                <li>
                    Navicella 1
                </li>
                <li>
                    Navicella 2
                </li>
                <li>
                    Navicella 3
                </li>
            </ul>
        </div>
        <div id="map">
            <app-map></app-map>
        </div>
        <div class="side_menu">
            <ul id="right_list" class="list_class nav_list_side">
                <li class="nav_item">
                    Pianeta 1
                </li>
                <li class="nav_item">
                    Pianeta 2
                </li>
                <li class="nav_item">
                    Pianeta 3
                </li>
            </ul>
        </div>
    </div>
</div>

